@use "sass:list";

$foreground: #bbc2cf;
$background: #1c1f24;
$card: #282c34;
$primary: #935fb0;
$secondary: #b382cb;
$success: #98be65;
$warning: #da8548;
$danger: #cb5b67;
$disabled: #5b6268;
$colors: (
  foreground: $foreground,
  background: $background,
  card: $card,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  disabled: $disabled,
  transparent: transparent,
);

$normal-font: "Noto Sans";
$mono-font: "Noto Sans Mono";
$nerd-font: "JetBrainsMono Nerd Font Mono";
$nerd-font-variable: "JetBrainsMono Nerd Font";
$fonts: (
  normal: $normal-font,
  mono: $mono-font,
  nerd: $nerd-font,
  nerd-variable: $nerd-font-variable,
);

.transition {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &-all {
    @extend .transition;

    transition-property: all;
  }

  &-colors {
    @extend .transition;

    transition-property: color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke;
  }

  &-none {
    transition-property: none;
  }

  &-opacity {
    @extend .transition;

    transition-property: opacity;
  }
}

$directions: (
  l: "left",
  r: "right",
  t: "top",
  b: "bottom",
);

$spaces: (
  m: "margin",
  p: "padding",
);
$base-distance: 0.25rem;
@for $i from 0 through 10 {
  $distance: $base-distance * $i;

  @each $spaceKey, $space in $spaces {
    .#{$spaceKey}-#{$i} {
      #{$space}: $distance;
    }

    @each $directionKey, $direction in $directions {
      .#{$spaceKey}#{$directionKey}-#{$i} {
        #{$space}-#{$direction}: $distance;
      }
    }

    .#{$spaceKey}x-#{$i} {
      #{$space}-left: $distance;
      #{$space}-right: $distance;
    }
    .#{$spaceKey}y-#{$i} {
      #{$space}-top: $distance;
      #{$space}-bottom: $distance;
    }
  }
}

$radiuses: (
  0: 0,
  sm: 8px,
  md: 13px,
  lg: 20px,
  full: 100px,
);
@each $radiusKey, $radius in $radiuses {
  .rounded {
    &-#{$radiusKey} {
      border-radius: $radius;
    }

    &-l-#{$radiusKey} {
      border-radius: $radius 0 0 $radius;
    }
    &-r-#{$radiusKey} {
      border-radius: 0 $radius $radius 0;
    }
    &-t-#{$radiusKey} {
      border-radius: $radius $radius 0 0;
    }
    &-b-#{$radiusKey} {
      border-radius: 0 0 $radius $radius;
    }
  }
}

@mixin bg($color: $background) {
  background-color: $color;
}
@mixin text($color: $foreground) {
  color: $color;
}
@mixin font($font: $normal-font, $size: 1rem, $weight: 500) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}

$font-sizes: (
  xs: 0.7rem,
  sm: 0.8rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
);
@each $sizeKey, $size in $font-sizes {
  .text-#{$sizeKey} {
    font-size: $size;
  }
}

* {
  all: unset;
}

tooltip {
  @extend .rounded-sm;
  @include bg;
  @include text;
  @include font($mono-font);

  & label {
    @extend .m-1;
  }
}

.label {
  @include text;
  @include font;
}

@mixin button() {
  $dark-backgrounds: (transparent, $background, $card);

  @extend .transition-colors;

  & > * {
    @extend .px-3;
  }

  &:hover {
    @include bg(rgba(255, 255, 255, 0.03));
  }

  @each $colorKey, $color in $colors {
    &.#{$colorKey} {
      @include bg($color);

      &:hover {
        @if list.index($dark-backgrounds, $color) {
          @include bg(rgba(255, 255, 255, 0.03));
        } @else {
          @include bg(shade($color, 0.9));
        }
      }
    }
  }
}

@mixin base-icon($size: 2rem, $font: $nerd-font) {
  @extend .m-0;
  @include bg(transparent);
  @include text;
  @include font($font, $size);
}

@mixin icon($size: 2rem) {
  @include base-icon($size);
}

@mixin icon-variable($size: 2rem) {
  $variable-margin: $size / 10;
  $variable-size: calc(#{$size} - #{$variable-margin} * 2);

  @include base-icon($variable-size, $nerd-font-variable);

  margin: $variable-margin 0;
}

.icon {
  @include icon;

  & .label {
    @extend .ml-2;
  }

  &.variable {
    @include icon-variable;
  }

  @each $colorKey, $color in $colors {
    &.#{$colorKey} {
      @include text($color);
    }
  }
}

.button {
  @include button;
}
