$black: #1c1f24;
$red: #ff6c6b;
$green: #98be65;
$yellow: #da8548;
$blue: #51afef;
$magenta: #c678dd;
$cyan: #5699af;
$white: #dfdfdf;
$grey: #5b6268;

$foreground: #bbc2cf;
$background: #282c34;
$primary: $blue;
$secondary: $magenta;
$success: $green;
$warning: $yellow;
$danger: $red;
$disabled: $grey;

$font: "Roboto";
$mono-font: "JetBrainsMono Nerd Font";
$nerd-font: "JetBrainsMono Nerd Font Mono";
$variable-nerd-font: "JetBrainsMono Nerd Font";
$icon-size: 2rem;

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  disabled: $disabled,
);

@function get-color($key) {
  @return map-get($map: $colors, $key: $key);
}

* {
  all: unset;
}

@import "./bar/eww.scss";
