tooltip {
  background-color: $background;
  color: $foreground;
  font-family: $mono-font;

  & label {
    margin: 0.3rem;
  }
}

.eww_bar {
  background-color: $black;
  padding: 0 0.5rem;
}

.rounded {
  border-radius: 13px;
}

.container {
  @extend .rounded;
  background-color: $background;
}

.icon {
  @extend .rounded;
  color: $foreground;
  font-family: $nerd-font;
  font-size: $icon-size;

  &--variable {
    $padding: 0.3rem;

    @extend .rounded;
    margin: $padding 0;
    color: $foreground;
    font-family: $variable-nerd-font;
    font-size: calc(#{$icon-size} - #{$padding} * 2);
  }

  &--inverted {
    @extend .icon;
    color: $background;

    &--variable {
      @extend .icon--variable;
      color: $background;
    }
  }

  @each $key, $val in $colors {
    &--#{$key} {
      @extend .icon;
      color: $val;

      &--variable {
        @extend .icon--variable;
        color: $val;
      }
    }
  }
}

.label {
  margin-left: 0.5rem;
  color: $foreground;
  font-family: $font;
  font-size: 1rem;
}

.button {
  @extend .container;
  background-color: inherit;
  padding: 0 0.8rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }

  @each $key, $val in $colors {
    &--#{$key} {
      @extend .button;
      background-color: $val;

      &:hover {
        background-color: shade($val, 0.85);
      }
    }
  }
}

.media {
  $slider-height: 3px;

  &__title {
    @extend .label;
    margin-right: 1rem;
  }

  &__icon {
    @extend .icon;
    font-size: calc(#{$icon-size} - #{$slider-height});
  }

  &__slider {
    $radius: 50px;

    margin: 0 5px;
    border-radius: 0 0 $radius $radius;
    background-color: $disabled;
    min-height: $slider-height;

    & trough {
      @extend .media__slider;
      margin: 0;

      & highlight {
        border-radius: 0 0 0 $radius;
        background-color: $primary;
      }
    }

    &--disabled {
      @extend .media__slider;

      & trough {
        @extend .media__slider;
        margin: 0;

        & highlight {
          border-radius: 0 0 0 $radius;
          background-color: $warning;
        }
      }
    }
  }
}

.battery {
  @extend .icon;
  padding: 0.7rem;
  font-size: 1rem;

  @each $key, $val in $colors {
    &--#{$key} {
      @extend .battery;
      color: $val;
    }
  }
}

.time {
  padding: 0.3rem 0;
  color: $foreground;
  font-family: $mono-font;
  font-size: 1.5rem;
  font-weight: bold;
}
