.bar {
  $icon-size: 2rem;

  @include bg(transparent);
  padding: 0 25px;

  & .container {
    @include bg($background);
  }

  & .container,
  & .button {
    @extend .rounded-b-md;
  }

  &-time {
    @extend .py-1;
    @extend .px-2;
    @include font($mono-font, 1.5rem, bold);
  }

  &-media {
    $slider-height: 3px;

    &__slider {
      @extend .mx-1;
      @extend .rounded-b-full;

      min-height: $slider-height;

      & trough {
        @extend .bar-media__slider;
        @extend .mt-0;
        @include bg($disabled);

        & highlight {
          @extend .rounded-b-full;
          @include bg($primary);
        }
      }

      &--paused {
        @extend .bar-media__slider;

        & trough {
          @extend .bar-media__slider;
          @extend .m-0;

          & highlight {
            @extend .rounded-b-full;
            @include bg($secondary);
          }
        }
      }
    }

    & .button {
      @extend .rounded-b-sm;
    }

    & .icon {
      @include icon(calc(2rem - #{$slider-height}));
    }

    &__time {
      @extend .label;
      @extend .mx-2;
      @include font($normal-font, 0.8rem);
    }
  }
}
