.bar {
  $icon-size: 2rem;

  @include bg(transparent);
  padding: 0 25px;

  & .container {
    @include bg($background);
  }

  & .container,
  & .button {
    @extend .rounded-b-md;
  }

  &-time {
    @extend .py-1;
    @extend .px-2;
    @include font($mono-font, 1.3rem, bold);
  }

  &-media {
    $slider-height: 3px;

    scale {
      &,
      & trough {
        @extend .mx-1;
      }

      &,
      & trough,
      & trough highlight {
        @extend .rounded-b-full;

        min-height: $slider-height;
      }

      & trough {
        @include bg($disabled);

        & highlight {
          @extend .transition-colors;
          @include bg($primary);
        }
      }

      &.paused trough highlight {
        @include bg($secondary);
      }
    }

    & .button {
      @extend .rounded-b-sm;
    }

    & .icon {
      @include icon(calc(2rem - #{$slider-height}));
    }

    & .time {
      @extend .mx-2;
      @extend .text-sm;
      @include text($foreground);
    }
  }
}
