#!/usr/bin/env bash

# XDG Paths
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

# Qt applications style
export QT_STYLE_OVERRIDE=kvantum
export QT_QPA_PLATFORMTHEME=qt5ct

# Common environment variables
export TERMINAL="alacritty"
export BROWSER="brave"
export EDITOR="emacsclient -t"

eval "$(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)"
export SSH_AUTH_SOCK

# Load custom colors
# xrdb "$HOME/.Xresources" &

# Handle pluging in monitors
autorandr --change --force --default mobile &

# Load the polkit agent
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Enable numlock by default
numlockx on &

# Use the super key
xcape -e 'Super_L=Super_L|A' &

# Set keyboard layout
setxkbmap fr &

# Load xfce settings
xfsettingsd &
(sleep 3 && xfce4-power-manager) &

# Handle touchpad gestures
libinput-gestures-setup start &

# Launch torrents daemon
transmission-daemon &

# Network manager
nm-applet &

# Bluetooth manager
blueman-applet &

# Launch Flameshot daemon
flameshot &

# Launch emacs daemon
emacs --daemon &
