.backdrop {
    @include bg($bg);
    opacity: 0.8;
}

.window {
    @mixin window() {
        @include rounded(md, b);
        @include bg($bg);
        @include p(4);
        @include text($fg);
        min-width: 30rem;
    }

    @mixin title() {
        @include m(4, b);
        @include font(1.6rem, bold);
    }

    .applications {
        entry {
            @include m(8, b);
            @include rounded;
            @include bg($card);
            @include p(8, x);
            @include p(4, y);
            min-width: 30rem;
        }
        button {
            @include button;
            @include rounded;
            @include p(4, x);
            @include p(12, y);
        }
    }

    .power {
        @include window;

        button {
            @include button;
            @include m(2);
            @include rounded;
            @include p(2);

            image {
                @include font(8rem);
            }
        }
    }
}
