Xcursor.theme:  Bibata-Modern-Classic
Xcursor.size:   16

*.cursorColor:  #BBC2CF
*.foreground:   #BBC2CF
*.background:   #282C34

! black
*.color0:       #1C1F24
*.color8:       #202328

! red
*.color1:       #FF6C6B
*.color9:       #DA8548

! green
*.color2:       #98BE65
*.color10:      #4DB5BD

! yellow
*.color3:       #DA8548
*.color11:      #ECBE7B

! blue
*.color4:       #51AFEF
*.color12:      #2257A0

! magenta
*.color5:       #C678DD
*.color13:      #A9A1E1

! cyan
*.color6:       #5699AF
*.color14:      #46D9FF

! white
*.color7:       #5B6268
*.color15:      #DFDFDF
